name: SpringBoot CI CD Deploy

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Give Permission to Maven Wrapper
        run: chmod +x mvnw

      - name: Build Maven Project
        run: ./mvnw clean package -DskipTests

      - name: Copy Jar to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: target/*.jar
          target: /home/ubuntu/

      - name: Deploy and Restart Application
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu

            rm -f helloworld.jar

            mv *.jar helloworld.jar

            sudo systemctl daemon-reload
            sudo systemctl restart springboot-app